name = "governance-system"
compatibility_date = "2025-01-01"
workers_dev = true
main = "apps/api/src/index.ts"

account_id = "5d91807e648c183cb7833caa06dbcbdb"

[observability]
[observability.logs]
enabled = false
head_sampling_rate = 1
invocation_logs = true
persist = true

# -------------------------------------------------------
# D1 Database configuration
# -------------------------------------------------------
[[d1_databases]]
binding = "DB"
database_name = "governance-system-db"
database_id = "fbdff5ac-2fcc-4182-9cbf-be6c1d08e287"
migrations_dir = "infra/migrations"

# -------------------------------------------------------
# R2 Bucket configuration
# -------------------------------------------------------
[[r2_buckets]]
binding = "ASSETS"
bucket_name = "governance-system-assets"
preview_bucket_name = "governance-system-assets"
